<html lang="en">
	<head>
		<link href="slideshow.css" rel="stylesheet" />
		<title></title>
	</head>

	<body>
		<div class="untitled">
			<div class="untitled__slides">
				<div class="untitled__slide">
					<div class="untitled__slideBg"></div>
					<div class="untitled__slideContent">
						<span>Luxuriant</span>
						<span>Luxe</span>
						<!-- <a class="button" href="#products_div" target="/black"
							>Learn More!</a
						> -->
					</div>
				</div>
				<div class="untitled__slide">
					<div class="untitled__slideBg"></div>
					<div class="untitled__slideContent">
						<span>Dry Skin</span>
						<!--                <span>Jar</span>-->
						<!-- <a class="button" href="#products_div" target="/black"
							>Check Out!</a
						> -->
					</div>
				</div>
				<div class="untitled__slide">
					<div class="untitled__slideBg"></div>
					<div class="untitled__slideContent">
						<span>Oily Skin</span>
						<!--                <span>Blue Jar</span>-->
						<!-- <a class="button" href="#products_div" target="/black"
							>Check Out!</a
						> -->
					</div>
				</div>
				<div class="untitled__slide">
					<div class="untitled__slideBg"></div>
					<div class="untitled__slideContent">
						<span>Normal Skin</span>
						<!--                <span>Jar</span>-->
						<!-- <a class="button" href="#products_div" target="/black"
							>Check Out!</a
						> -->
					</div>
				</div>
			</div>
			<div class="untitled__shutters"></div>
		</div>
	</body>
</html>
